<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container-fluid flex-grow-1 container-p-y" layout:fragment="content">
  <div class="row gy-6 gy-md-0">
    <!-- User Sidebar -->
    <div class="col-xl-6 col-lg-6 col-md-6 order-1 order-md-0">
      <!-- User Card -->
      <div class="card mb-6">
        <div class="card-body pt-12">
          <div class="user-avatar-section">
            <div class="d-flex align-items-center flex-column">
              <img
                      class="img-fluid rounded-3 mb-4"
                      src="../../assets/img/avatars/1.png"
                      height="120"
                      width="120"
                      alt="User avatar" />
              <div class="user-info text-center">
                <h5 id="user-info-name"></h5>
                <span id="user-info-role" class="badge bg-label-danger rounded-pill"></span>
              </div>
            </div>
          </div>
          <h5 class="pb-4 border-bottom mb-4">Details</h5>
          <div class="info-container">
            <ul class="list-unstyled mb-6">
              <li class="mb-2">
                <span class="fw-medium text-heading me-2">Email:</span>
                <span id="user-info-email"></span>
              </li>

              <li class="mb-2">
                <span class="fw-medium text-heading me-2">Status:</span>
                <span id="user-info-active" class="badge bg-label-success rounded-pill">Active</span>
              </li>

              <li class="mb-2 d-none" id="li-user-info-university">
                <span class="fw-medium text-heading me-2">University:</span>
                <span id="user-info-university"></span>
              </li>

              <li class="mb-2 d-none" id="li-user-info-downloadLimit">
                <span class="fw-medium text-heading me-2">Download limit:</span>
                <span id="user-info-downloadLimit">0</span>
              </li>

              <li class="mb-2 d-none" id="li-user-info-isChat">
                <span class="fw-medium text-heading me-2">Can chat:</span>
                <span id="user-info-isChat" class="badge bg-label-success">true</span>
              </li>

              <li class="mb-2 d-none" id="li-user-info-isComment">
                <span class="fw-medium text-heading me-2">Can comment:</span>
                <span id="user-info-isComment" class="badge bg-label-success">true</span>
              </li>

              <li class="mb-2 d-none" id="li-user-info-isReportManager">
                <span class="fw-medium text-heading me-2">Can manage report:</span>
                <span id="user-info-isReportManager" class="badge bg-label-success">true</span>
              </li>

              <li class="mb-2">
                <span class="fw-medium text-heading me-2">Created on:</span>
                <span id="user-info-createdOn"></span>
              </li>

              <li class="mb-2">
                <span class="fw-medium text-heading me-2">Updated on:</span>
                <span id="user-info-updatedOn"></span>
              </li>
            </ul>
            <div class="d-flex justify-content-center">
              <a
                      href="javascript:;"
                      class="btn btn-primary me-4"
                      data-bs-target="#editUser"
                      data-bs-toggle="modal"
              >Edit</a
              >
              <a href="javascript:;" id="" class="btn btn-outline-danger suspend-user">Deactivate</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /User Card -->
      <!-- Plan Card -->
      <div class="card mb-6 border border-2 border-primary">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-start">
            <span class="badge bg-label-primary rounded-pill" id="plan-badge">Premium</span>
            <div class="d-flex justify-content-center">
              <sup class="h5 pricing-currency mt-5 mb-0 me-1 text-primary">VND</sup>
              <h2 class="mb-0 text-primary" id="plan-price">80.000</h2>
              <sub class="h6 pricing-duration mt-auto mb-3 fw-normal">month</sub>
            </div>
          </div>
          <ul class="list-unstyled g-2 my-6" id="plan-benefits">
            <li class="mb-2 d-flex align-items-center">
              <i class="ri-circle-fill text-body ri-10px me-2"></i><span>Unlimited document downloads</span>
            </li>
            <li class="mb-2 d-flex align-items-center">
              <i class="ri-circle-fill text-body ri-10px me-2"></i><span>Full access to all documents</span>
            </li>
            <li class="mb-2 d-flex align-items-center">
              <i class="ri-circle-fill text-body ri-10px me-2"></i><span>Unlimited course follows</span>
            </li>
            <li class="mb-2 d-flex align-items-center">
              <i class="ri-circle-fill text-body ri-10px me-2"></i><span>Join discussions with no limit</span>
            </li>
          </ul>
          <div class="d-flex justify-content-between align-items-center mb-1 fw-medium text-heading">
            <span>Days</span>
            <span id="userInfo-membershipUsed">26 of 30 Days</span>
          </div>
          <div id="" class="progress mb-1 rounded">
            <div
                    id="userInfo-membershipProgress"
                    class="progress-bar rounded"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"></div>
          </div>
          <small id="userInfo-membershipContains">4 days remaining</small>
          <div class="d-grid w-100 mt-6">
            <a class="btn btn-primary" href="/member/payment/pricing">
              Change Plan
            </a>
          </div>
        </div>
      </div>
      <!-- /Plan Card -->
    </div>
    <!--/ User Sidebar -->

    <!-- User Content -->
    <div class="col-xl-6 col-lg-6 col-md-6 order-0 order-md-1">
      <!-- Activity Timeline
      <div class="card mb-6">
          <h5 class="card-header">User Activity Timeline</h5>
          <div class="card-body pt-0">
              <ul class="timeline mb-0 mt-2">
                  <li class="timeline-item timeline-item-transparent">
                      <span class="timeline-point timeline-point-primary"></span>
                      <div class="timeline-event">
                          <div class="timeline-header mb-3">
                              <h6 class="mb-0">12 Invoices have been paid</h6>
                              <small class="text-muted">12 min ago</small>
                          </div>
                          <p class="mb-2">Invoices have been paid to the company</p>
                          <div class="d-flex align-items-center mb-1">
                              <div class="badge bg-lighter rounded-3 mb-1_5">
                                  <img src="../../assets//img/icons/misc/pdf.png" alt="img" width="15" class="me-2" />
                                  <span class="h6 mb-0 text-secondary">invoices.pdf</span>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-item timeline-item-transparent">
                      <span class="timeline-point timeline-point-success"></span>
                      <div class="timeline-event">
                          <div class="timeline-header mb-3">
                              <h6 class="mb-0">Client Meeting</h6>
                              <small class="text-muted">45 min ago</small>
                          </div>
                          <p class="mb-2">Project meeting with john @10:15am</p>
                          <div class="d-flex justify-content-between flex-wrap gap-2 mb-1_5">
                              <div class="d-flex flex-wrap align-items-center">
                                  <div class="avatar avatar-sm me-2">
                                      <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle" />
                                  </div>
                                  <div>
                                      <p class="mb-0 small fw-medium">Lester McCarthy (Client)</p>
                                      <small>CEO of Pixinvent</small>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-item timeline-item-transparent">
                      <span class="timeline-point timeline-point-info"></span>
                      <div class="timeline-event">
                          <div class="timeline-header mb-3">
                              <h6 class="mb-0">Create a new project for client</h6>
                              <small class="text-muted">2 Day Ago</small>
                          </div>
                          <p class="mb-2">6 team members in a project</p>
                          <ul class="list-group list-group-flush">
                              <li
                                      class="list-group-item d-flex justify-content-between align-items-center flex-wrap border-top-0 p-0">
                                  <div class="d-flex flex-wrap align-items-center">
                                      <ul class="list-unstyled users-list d-flex align-items-center avatar-group m-0 me-2">
                                          <li
                                                  data-bs-toggle="tooltip"
                                                  data-popup="tooltip-custom"
                                                  data-bs-placement="top"
                                                  title="Vinnie Mostowy"
                                                  class="avatar pull-up">
                                              <img class="rounded-circle" src="../../assets/img/avatars/5.png" alt="Avatar" />
                                          </li>
                                          <li
                                                  data-bs-toggle="tooltip"
                                                  data-popup="tooltip-custom"
                                                  data-bs-placement="top"
                                                  title="Allen Rieske"
                                                  class="avatar pull-up">
                                              <img class="rounded-circle" src="../../assets/img/avatars/12.png" alt="Avatar" />
                                          </li>
                                          <li
                                                  data-bs-toggle="tooltip"
                                                  data-popup="tooltip-custom"
                                                  data-bs-placement="top"
                                                  title="Julee Rossignol"
                                                  class="avatar pull-up">
                                              <img class="rounded-circle" src="../../assets/img/avatars/6.png" alt="Avatar" />
                                          </li>
                                          <li class="avatar">
                                <span
                                        class="avatar-initial rounded-circle pull-up text-heading"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="3 more"
                                >+3</span
                                >
                                          </li>
                                      </ul>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
      /Activity Timeline -->

      <!-- Change Password -->
      <div id="card-change-password" class="card mb-6">
        <h5 class="card-header">Change Password</h5>
        <div class="card-body">
          <form id="formChangePassword">
            <div class="alert alert-warning alert-dismissible" role="alert">
              <h5 class="alert-heading mb-1">Ensure that these requirements are met</h5>
              <span>Minimum 8 characters long, uppercase & symbol</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row gx-5">
              <div class="mb-3 col-12 col-sm-6 form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input
                            class="form-control"
                            type="password"
                            id="newPassword"
                            name="newPassword"
                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                    <label for="newPassword">New Password</label>
                  </div>
                  <span class="input-group-text cursor-pointer text-heading"
                  ><i class="ri-eye-off-line"></i
                  ></span>
                </div>
              </div>

              <div class="mb-3 col-12 col-sm-6 form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input
                            class="form-control"
                            type="password"
                            name="confirmPassword"
                            id="confirmPassword"
                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                    <label for="confirmPassword">Confirm New Password</label>
                  </div>
                  <span class="input-group-text cursor-pointer text-heading"
                  ><i class="ri-eye-off-line"></i
                  ></span>
                </div>
              </div>
              <div>
                <button id="change-password-submit" type="submit" class="btn btn-primary me-2">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--/ Change Password -->

      <!-- Invoice table -->
      <div id="card-invoice" class="card">
        <div class="table-responsive mb-4">
          <table class="table datatable-invoice">
            <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th>Status</th>
              <th>Total</th>
              <th>Issued Date</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
      <!-- /Invoice table -->
    </div>
    <!--/ User Content -->
  </div>

  <!-- Modal -->
  <!-- Edit User Modal -->
  <div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body p-0">
          <div class="text-center mb-6">
            <h4 class="mb-2">Edit User Information</h4>
            <p class="mb-6">Updating details for this user.</p>
          </div>
          <form id="editUserForm" class="row g-5">
            <div class="col-12 col-md-6">
              <div class="form-floating form-floating-outline">
                <input
                        type="text"
                        id="modalEditUserFullName"
                        name="modalEditUserFullName"
                        class="form-control"
                        placeholder="Oliver" />
                <label for="modalEditUserFullName">Full name</label>
              </div>
            </div>
            <div class="col-12 col-md-6" id="li-modalEditUniversity">
              <div class="form-floating form-floating-outline">
                <select
                        id="modalEditUniversity"
                        name="modalEditUniversity"
                        class="form-select"
                        aria-label="Default select example">
                </select>
                <label for="modalEditUniversity">University</label>
              </div>
            </div>
            <div class="col-12 text-center d-flex flex-wrap justify-content-center gap-4 row-gap-4">
              <button id="btn-modelSubmit" type="submit" class="btn btn-primary">Submit</button>
              <button
                      type="reset"
                      class="btn btn-outline-secondary"
                      data-bs-dismiss="modal"
                      aria-label="Close">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Edit User Modal -->

  <!-- Upgrade Plan -->
  <div class="modal fade" id="upgradePlanModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-simple modal-upgrade-plan">
      <div class="modal-content p-8 p-md-12">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body pt-md-0 px-0">
          <div class="text-center mb-6">
            <h4 class="mb-2">Change Plan</h4>
            <p class="mb-10">Choose the best plan for user.</p>
          </div>
          <form id="upgradePlanForm" class="row g-4 d-flex align-items-center">
            <div class="col-sm-9">
              <select
                      id="choosePlan"
                      name="choosePlan"
                      class="form-select form-select-sm"
                      aria-label="Choose Plan">
                <option selected>Choose Plan</option>
                <option value="FREE">Free - 0VND/month</option>
                <option value="PREMIUM">PREMIUM - 80.000VND/month</option>
              </select>
            </div>
            <div class="col-sm-3 d-flex align-items-end">
              <button type="submit" class="btn btn-primary">Upgrade</button>
            </div>
          </form>
        </div>
        <hr class="my-1" />
        <div class="modal-body pb-md-0 px-0">
          <p id="modalChangePlan-CurrentPlan" class="mb-1">User current plan is standard plan</p>
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex justify-content-center me-2 mt-4">
              <sup class="h5 pricing-currency mt-5 mb-0 me-1 text-primary">VND</sup>
              <h2 id="modelChangePlan-CurrentPlanPrice" class="mb-0 text-primary">99</h2>
              <sub class="h5 pricing-duration mt-auto mb-3 small fw-normal">/month</sub>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Upgrade Plan -->

  <!-- /Modal -->
</div>

</body>
</html>