<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container-fluid flex-grow-1 container-p-y" layout:fragment="content">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-6 mb-6">
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Session</p>
                <div class="d-flex align-items-center">
                  <h4 id="total-users" class="mb-1 me-2">21,459</h4>
<!--                  <p class="text-success mb-1">(+29%)</p>-->
                </div>
                <small class="mb-0">Total Users</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-primary rounded-3">
                  <div class="ri-group-line ri-26px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Inactive Users</p>
                <div class="d-flex align-items-center">
                  <h4 id="inactive-users" class="mb-1 me-1">4,567</h4>
<!--                  <p class="text-success mb-1">(+18%)</p>-->
                </div>
                <small class="mb-0">Realtime analytics</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-danger rounded-3">
                  <div class="ri-user-add-line ri-26px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Total Members</p>
                <div class="d-flex align-items-center">
                  <h4 id="total-members" class="mb-1 me-1">19,860</h4>
<!--                  <p class="text-danger mb-1">(-14%)</p>-->
                </div>
                <small class="mb-0">Realtime analytics</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-success rounded-3">
                  <div class="ri-user-follow-line ri-26px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="me-1">
                <p class="text-heading mb-1">Premium Members</p>
                <div class="d-flex align-items-center">
                  <h4 id="premium-users" class="mb-1 me-1">237</h4>
<!--                  <p class="text-success mb-1">(+42%)</p>-->
                </div>
                <small class="mb-0">Realtime analytics</small>
              </div>
              <div class="avatar">
                <div class="avatar-initial bg-label-warning rounded-3">
                  <div class="ri-user-search-line ri-26px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Users List Table -->
    <div class="card">
      <div class="card-header border-bottom">
        <h5 class="card-title mb-0">Filters</h5>
        <div class="d-flex justify-content-between align-items-center row gx-5 pt-4 gap-5 gap-md-0">
          <div class="col-md-4 user_role"></div>
          <div class="col-md-4 user_plan"></div>
          <div class="col-md-4 user_status"></div>
        </div>
      </div>
      <div class="card-datatable table-responsive">
        <table class="datatables-users table">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th>User</th>
            <th>Email</th>
            <th>Role</th>
            <th>Plan</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
        </table>
      </div>
      <!-- Offcanvas to add new user -->
      <div
              class="offcanvas offcanvas-end"
              tabindex="-1"
              id="offcanvasAddUser"
              aria-labelledby="offcanvasAddUserLabel">
        <div class="offcanvas-header border-bottom">
          <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add User</h5>
          <button
                  type="button"
                  class="btn-close text-reset"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0 h-100">
          <form class="add-new-user pt-0" id="addNewUserForm">
            <div class="form-floating form-floating-outline mb-5">
              <input
                      type="text"
                      class="form-control"
                      id="add-user-fullname"
                      placeholder="John Doe"
                      name="userFullname"
                      aria-label="John Doe" />
              <label for="add-user-fullname">Full Name</label>
            </div>
            <div class="form-floating form-floating-outline mb-5">
              <input
                      type="text"
                      id="add-user-email"
                      class="form-control"
                      placeholder="john.doe@example.com"
                      aria-label="john.doe@example.com"
                      name="userEmail" />
              <label for="add-user-email">Email</label>
            </div>

            <div class="form-floating form-floating-outline mb-4">
              <input type="password" class="form-control" id="add-user-password" name="password"
                     placeholder="Password" required/>
              <label for="add-user-password">Password</label>
            </div>

            <div class="form-floating form-floating-outline mb-4">
              <input type="password" class="form-control" id="add-user-password-confirm" name="rePassword"
                     placeholder="Repeat Password" required/>
              <label for="add-user-password-confirm">Repeat Password</label>
            </div>

            <div class="form-floating form-floating-outline mb-5">
              <select id="user-role" class="form-select">
                <option value="moderator">Moderator</option>
                <option value="admin">Admin</option>
              </select>
              <label for="user-role">User Role</label>
            </div>
            <button type="submit" id="add-user-submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>
            <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>